* {
	margin: 0px;
	padding: 0px;
} 

.cwhite .item { background-color: white; }
.cgrey .item { background-color: grey; }
.cblack .item { background-color: black; }
.cbrown .item { background-color: brown; }
.cred .item { background-color: red; }
.corange .item { background-color: orange; }
.cyellow .item { background-color: yellow; }
.cgreen .item { background-color: green; }
.cblue .item { background-color: blue; }
.ccyan .item { background-color: cyan; }
.cpurple .item { background-color: purple; }
.cpink .item { background-color: pink; }

.s20 .item { width: 15px; height: 15px; top: 16px; left: 16px;}
.s40 .item { width: 30px; height: 30px; top: 9px; left: 9px;}
.s60 .item { width: 48px; height: 48px; }

#canvas {
	cursor: none;
}

#colorsMenu, #sizesMenu {
	width:104px;
	clear: both;
}

.color, .size {
	width: 48px;
	height: 48px;
	border-radius: 8px;
	border: 2px solid white;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.4), 0px 0px 2px rgba(0,0,0,0.4);
	cursor: pointer;
	float: left;
}

.size .item {
	border-radius: 50%;
	background-color:black;
}

.color .item {
	width: 100%;
	height:100%;
}

.item {
	position: relative;
}

#cursor {
	position: absolute;
	z-index: 3;
	border-radius: 50%;
	border: 2px solid black;
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.7), 0px 0px 2px rgba(255,255,255,0.7);
	pointer-events: none;
}

#ui {
	position: absolute;
	z-index: 2;
	top:0px;
}